#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
"""
Answer:

1. A database is an organized collection of data that can be structured or unstructured.
2. The difference between SQL and NoSQL databases are as follows:
    a. SQL databases use a structured data model such as a table with rows and columns. The NoSQL databases use data models such as key-value 
    pair, documents, etc.
    b. SQL database have vertical scalability which means that they are designed to run on single server while NoSQL database have horizontal
    scalability where the data can be distributed among multiple servers.
    c. SQL database provides a defined set of commands fro quering and modifying the data. The NoSQL often provide query language specific to
    their data model.
"""

'\nAnswer:\n\n1. A database is an organized collection of data that can be structured or unstructured.\n2. The difference between SQL and NoSQL databases are as follows:\n    a. SQL databases use a structured data model such as a table with rows and columns. The NoSQL databases use data models such as key-value \n    pair, documents, etc.\n    b. SQL database have vertical scalability which means that they are designed to run on single server while NoSQL database have horizontal\n    scalability where the data can be distributed among multiple servers.\n    c. SQL database provides a defined set of commands fro quering and modifying the data. The NoSQL often provide query language specific to\n    their data model.\n'

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
"""
Answer:

1. DDL stands for Data Definition Language. It is used to create and modify the structure of database objects in a database.
2. CREATE- It is used to create new database object such as table or view. 
    Example: CREATE TABLE Students (id INT, name VARCHAR(50);
3. DROP- It is used to delete an existing database object.
    Example: DROP TABLE Students;
4. ALTER- It is used to modify the structure of existing database object.
    Example: ALTER TABLE Students ADD COLUMN age INT;
5. TRUNCATE- It is used to remove all data from a table while keeping the table structure intact.
    Example: TRUNCATE TABLE Students;

"""

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
"""
Answer: 

1. A DML (Data Manipulation Language) is a defined set of query that allows to insert, update, and delete data in database tables.
2. INSERT- It is used to add a record into a table.
    Example: INSERT INTO Students (id, name) VALUES (1, 'Bhavesh');
2. UPDATE- It is used to update existing recored in a table.
    Example: 
        UPDATE Students
        SET age = 12
        WHERE id = 1;
3. DELETE- It is used to remove rows from a table.
    Example:
        DELETE FROM Students
        WHERE id = 1;
"""

#### Q4. What is DQL? Explain SELECT with an example.

In [1]:
"""
Answer:

1. DQL (Data Query Language) are statements used to retrieve data from the database using the 'SELECT' statement.
2. Example:
    To fetch the data from all columns of table the command is as follows-
        SELECT * FROM Table_name;
"""

"\nAnswer:\n\n1. DQL (Data Query Language) are statements used to retrieve data from the database using the 'SELECT' statement.\n2. Example:\n    To fetch the data from all columns of table the command is as follows-\n        SELECT * FROM Table_name;\n"

#### Q5. Explain Primary Key and Foreign Key.

In [2]:
"""
Answer:

1. Primary Key: It is a single column in a table that uniquely identifies each record in a database table. It cannot be NULL value.
2. Foreign Key: It is a column that is used to establish link between two tables in a database. It can be a NULL value.
"""

'\nAnswer:\n\n1. Primary Key: It is a single column in a table that uniquely identifies each record in a database table. It cannot be NULL value.\n2. Foreign Key: It is a column that is used to establish link between two tables in a database. It can be a NULL value.\n'

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [17]:
"""
Answer:

a. Program to connect MySQL to Python:
"""
# First install MySQL Connector using the following command:
# python -m pip install mysql-connector-python

import mysql.connector

try:
    connection = mysql.connector.connect(
        host = "localhost",
        user = "abc",
        password = "password"
    )

    print(connection)
    
    cursor = connection.cursor()
    cursor.execute("SHOW DATABASE")
    for x in cursor:
        print(x)
    connection.close()
except Exception as e:
    print("Please check your connection credentials\n", e)
    
"""
b. In the above code, cursor() method is used to create cursor object to perform SQL operations.
    The execute() method runs the SQL query and returns the result displaying all available databases.
"""

Please check your database credentials
 name 'mysql' is not defined

'\nb. In the above code, cursor() method is used to to create cursor object to perform SQL operations.\n    The execute() method runs the SQL query and returns the result.\n'

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In [2]:
"""
Answer:
The following is the order of execution of SQL clauses in an SQL query:
1. FROM- Choose and join tables to get base data.
2. WHERE- Filters the base data.
3. GROUP BY- Aggregates the base data.
4. HAVING- Filters the aggregated data.
5. SELECT- Returns the final data.
6. ORDER BY- Sorts the final data.
7. LIMIT- Limits the returned data to a row count.

"""

'\nAnswer:\nThe following is the order of execution of SQL clauses in an SQL query:\n1. FROM- Choose and join tables to get base data.\n2. WHERE- Filters the base data.\n3. GROUP BY- Aggregates the base data.\n4. HAVING- Filters the aggregated data.\n5. SELECT- Returns the final data.\n6. ORDER BY- Sorts the final data.\n7. LIMIT- Limits the returned data to a row count.\n\n'