#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [8]:
"""
Answer:

1. MongoDB is an open-source document-oriented database.
2. The MongoDB architecture is made up of collections (similar to tables) and documents (data in key-value pairs).
3. NoSQL is a type of database management system that is designed to handle and store large volumes of
unstructured amd semi-structured data.
4. The NoSQL approach uses flexible data models and are capable of horizontal scalability to handle growing amount of data.
5. MongoDB is preferred for storing and querying large, unstructured data sets such as those found in big data or IoT 
applications. 
6. MongoDB helps to store data in JSON like document which have fields with varying levels of nesting and types.Hence, it
enables to store different types of data in the same collection.
"""

'\nAnswer:\n\n1. MongoDB is an open-source document-oriented database.\n2. The MongoDB architecture is made up of collections (similar to tables) and documents (data in key-value pairs).\n3. NoSQL is a type of database management system that is designed to handle and store large volumes of\nunstructured amd semi-structured data.\n4. The NoSQL approach uses flexible data models and are capable of horizontal scalability to handle growing amount of data.\n5. MongoDB is preferred for storing and querying large, unstructured data sets such as those found in big data or IoT \napplications. \n6. MongoDB helps to store data in JSON like document which have fields with varying levels of nesting and types.Hence, it\nenables to store different types of data in the same collection.\n'

#### Q2. State and Explain the features of MongoDB.

In [9]:
"""
Answer:

Some of the features of MongoDB are as follows:
1. Schema-less database: 
    It states that one collection can hold different types of document in it. These documents may contain
    different number of fields, content and size.
2. Document-orinented: 
    The data is stored in the documents instead of tables. The data is stored in key-value pairs
    that makes the data model much more flexible.
3. Indexing:
    MongoDB indexes every field in the documents with primary and secondary indices which makes it efficient to search data.
4. Scalability:
    MongoDB features horizontal scalability that helps to partition large amount of data into data chunks. These data chunks
    are distributed on multiple servers.
5. High performance:
    High performance is achieved due to MongoDB features such as scalability and indexing.
"""

'\nAnswer:\n\nSome of the features of MongoDB are as follows:\n1. Schema-less database: \n    It states that one collection can hold different types of document in it. These documents may contain\n    different number of fields, content and size.\n2. Document-orinented: \n    The data is stored in the documents instead of tables. The data is stored in key-value pairs\n    that makes the data model much more flexible.\n3. Indexing:\n    MongoDB indexes every field in the documents with primary and secondary indices which makes it efficient to search data.\n4. Scalability:\n    MongoDB features horizontal scalability that helps to partition large amount of data into data chunks. These data chunks\n    are distributed on multiple servers.\n5. High performance:\n    High performance is achieved due to MongoDB features such as scalability and indexing.\n'

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [17]:
# Install the PyMongo library:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Program to connect MongoDB to Python and create a database with collection.

import pymongo

client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.yvpep29.mongodb.net/?retryWrites=true&w=majority")
client.test

# Creating the 'MyDB_1' database
db = client["MyDB_1"]

# Creating the 'Students' collection
coll_1 = db["Students"]

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
# Program to insert one record and many records into collection.

one_rec = {
    "name": "BT",
    "age": 27,
    "course": "data_science_masters"
}

coll_1.insert_one(one_rec)


many_rec = [
    {"name": "AT", "age": 25 , "course": "CS"},
    {"name": "CT", "age": 28 , "course": "BSO"},
    {"name": "GT", "age": 24 , "course": "EL"}
]

coll_1.insert_many(many_rec)

In [4]:
# Program to print data from collection 

output_1 = coll_1.find_one()
# Print the first occurrence in the collection
print(f"The first occurence in the collection Students is: \n{output_1}\n")

print("All occurences in the collection Students are:")
# Print all occurrences in the collection
for i in coll_1.find():
    print(i)

The first occurence in the collection Students is:
{'_id': ObjectId('64b0d57e6f437daff37a6d4b'), 'name': 'BT', 'age': 27, 'course': 'data_science_masters'}

All occurences in the collection Students are:
{'_id': ObjectId('64b0d57e6f437daff37a6d4b'), 'name': 'BT', 'age': 27, 'course': 'data_science_masters'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4c'), 'name': 'AT', 'age': 25, 'course': 'CS'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4d'), 'name': 'CT', 'age': 28, 'course': 'BSO'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4e'), 'name': 'GT', 'age': 24, 'course': 'EL'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [6]:
# Program to query the MongoDB database
# Here we are querying the data inserted in Q4.

query_1 = {"age": 28}

print("The documents containing age as 28 are:")
for i in coll_1.find(query_1):
    print(i)

print("")
query_2 = {"age": {"$gt": 25}}

print("The documents containing age greater than 25 are:")
for i in coll_1.find(query_2):
    print(i)
    
"""
In the above code, 'query _1' is used to retrieve documents where the 'age' field value is 28. 
The 'query_2' is used to retrieve documents where 'age' field has value greater than 25.
The find() method is used on the collection 'Students' to pass the queries as arguement and finally the result is printed in the 'for' loop.
"""

The documents containing age as 28 are:
{'_id': ObjectId('64b0d57e6f437daff37a6d4d'), 'name': 'CT', 'age': 28, 'course': 'BSO'}

The documents containing age greater than 25 are:
{'_id': ObjectId('64b0d57e6f437daff37a6d4b'), 'name': 'BT', 'age': 27, 'course': 'data_science_masters'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4d'), 'name': 'CT', 'age': 28, 'course': 'BSO'}

"\nIn the above code, 'query _1' is used to retrieve documents where the 'age' field value is 28. \nThe 'query_2' is used to retrieve documents where 'age' field has value greater than 25.\nThe find() method is used on the collection 'Students' to pass the queries as arguement and finally the result is printed in the 'for' loop.\n"

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [17]:
"""
Answer:

1. sort() method is used to sort the results retrieved using find() method either in ascending or descending order.
2. It take one parameter for 'field name' and one parameter for sorting order.
3. Example:
"""

# Here we are querying the data inserted in Q4.

age_sort_asc = coll_1.find().sort("age", 1)

age_sort_des = coll_1.find().sort("age", -1)

print("Sorting the documents by 'age' field in ascending order :")
# Sorting the documents by 'age' field in ascending order 
for i in age_sort_asc:
    print(i)

print("")

print("Sorting the documents by 'age' field in descending order :")
# Sorting the documents by 'age' field in descending order 
for i in age_sort_des:
    print(i)

Sorting the documents by 'age' field in ascending order :
{'_id': ObjectId('64b0d57e6f437daff37a6d4e'), 'name': 'GT', 'age': 24, 'course': 'EL'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4c'), 'name': 'AT', 'age': 25, 'course': 'CS'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4b'), 'name': 'BT', 'age': 27, 'course': 'data_science_masters'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4d'), 'name': 'CT', 'age': 28, 'course': 'BSO'}

Sorting the documents by 'age' field in descending order :
{'_id': ObjectId('64b0d57e6f437daff37a6d4d'), 'name': 'CT', 'age': 28, 'course': 'BSO'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4b'), 'name': 'BT', 'age': 27, 'course': 'data_science_masters'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4c'), 'name': 'AT', 'age': 25, 'course': 'CS'}
{'_id': ObjectId('64b0d57e6f437daff37a6d4e'), 'name': 'GT', 'age': 24, 'course': 'EL'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [18]:
"""
Answer:

a. delete_one():
    1. It is used to delete the first document that matches the specified filter.
    Example: coll_1.delete_one({"name": "CT"})
b. delete_many():
    1. It is used to delete multiple documents that matches the specified filter.
    Example: 
c. drop():
    1. It is used to remove entire collection along with its documents from the database.
    Example: coll_1.drop()
"""
coll_1.delete_many({"name": "CT"})

'\nAnswer:\n\na. delete_one():\n    1. It is used to delete the first document that matches the specified filter.\nb. delete_many():\n    1. It is used to delete multiple documents that matches the specified filter.\nc. drop():\n    1. It is used to remove entire collection along with its documents from the database.\n'